<style>
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;

    .logo{
      color:#fff;
    }
    .menu {
      display:flex;
      list-style: none;
      li{
        margin: 0 2rem;
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
</style>
<nav>
  <div class="logo">
    <h3>AuglarSite</h3>
  </div>
  <ul class="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
